*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color:#cfefd0 !important;
}
p, span
{
    font-size:17px;
    font-family: Loto;
}
h1
{
    font-family: Roboto-condensed;
}
h2, h3
{
    font-family: Roboto-condensed-reg;
}
h4, h5, h6
{
    font-family: Roboto-condensed-light;
}
@font-face {
    font-family: Loto;
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Roboto-condensed;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: Roboto-condensed-reg;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: Roboto-condensed-light;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf);
}
/* Navbar section */
.navbar-brand img
{
    width:80px;
    height:80px;
}
.nav-item a
{
    font-family: Loto;
    font-size:17px;
}
.nav-item a:hover
{
    color:#198754;
}
.navbar-nav .nav-item .nav-link.active
{
    color:#198754;
}
.offcanvas.showing, .offcanvas.hiding, .offcanvas.show
{
    width:300px !important;
}
/* Intro section */
section
{
    padding:60px 0;
}
.intro-body, .skills-body, .education-body, .experience-body, .projects-body, .contact-body, .awards-body
{
    border-bottom: 2px dotted #609966;
}
.skills-body h2, .education-body h2, .experience-body h2, .projects-body h2, .contact-body h2, .awards-body h2
{
    border-bottom: 3px solid #609966;
    display: inline-block;
    padding:5px 15px;
}
.intro-body h1
{
    font-size:4em;
}
.intro-body h3
{
    font-weight: lighter;
    letter-spacing: 2px;
}
/* flex section */
.skill-logos img
{
    width:150px;
    height:150px;
    background-color:#fff;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

/* Education Section*/
.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #198754;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index:9;
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: rgb(128 209 150);
    border: 2px solid #232323;
    left: -3px;
    z-index:9;
}

.main-timeline .icon:after {
    border: 2px solid #198754;
    left: 3px;
    z-index:9;
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #198754;
    margin: auto 0;
    position: absolute;
    top: -20px;
    right: 10px;
    bottom: 0;
    z-index:9;
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
    background: rgb(128 209 150);
    border: 2px solid #232323;
    left: -6px;
}

.main-timeline .date-outer:after {
    border: 2px solid #198754;
    left: 6px;
    
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #232323;
    line-height: 30px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 9px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}
/* Awards Section */
.awards-body .card, .projects-body .card
{
    width:500px;
    background-color: #fff;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
/* Contact Section */
.contact-body span
{
    background-color: #198754;
    color:#fff;
    padding:10px;
    font-size:25px;
    border-radius: 5px;
}
.contact-body span:hover
{
    background-color: #157347;
    color:#fff;
    padding:10px;
    font-size:25px;
    border-radius: 5px;
}
@media screen and (max-width:767px) {
    .navbar
    {
        border-bottom: 2px dotted #609966;
    }
    .offcanvas
    {
        background-color:#cfefd0 !important;
    }
    .navbar-toggler:focus
    {
        box-shadow: none;
    }
    .intro-body h1 
    {
        font-size: 2.5em;
    }
    .intro-image
    {
    width:200px;
    margin-bottom:10px;
    }
}